nav{
    position: fixed;
    width: 100%;
    z-index: 10;
}

.navbarFirst{
	width: 100%;
	display: grid;
	grid-template-columns: repeat(10, 1fr);
	grid-template-rows: 90px;
	background: black;
	font-family: "Libre Franklin", sans-serif;
	font-size: 0.9375rem;
	letter-spacing: 0em;
	color: white;

	div{
		display: flex;
		align-items: center;
		justify-content: center;
		z-index: 100;
	}

	.navLogo{
		font-family: 'Itim', cursive;
		font-size: 25px;
		grid-column: 2 / 3;
		padding-left: 15px;

		img{
			width: 60px;
			margin: 0px 5px;
		}
	}

	.navBuscar{
		grid-column: 3 / 9;
		font-size: 20px;

		.navBuscar-barra{
			width: 80%;
		}

		i{
			padding-left: 20px;
		}

		.navBuscar-icono{
			width: 46px;
			height: 46px;
			display: flex;
			align-items: center;
			justify-content: center;
			border-top-right-radius: 8px;
			border-bottom-right-radius: 8px;
			background-color: #0076DE;

			i{
				padding: 0;
				margin: 0;
			}
		}

		input{
			width: 65%;
			height: 46px;
			padding-left: 20px;
			outline: none;
			border-bottom-left-radius: 8px;
			border-top-left-radius: 8px;
			border: 0px solid white;
		}
	}

	.navIcono-comprar{
		grid-column: 9 / 11;

		i{
			font-size: 25px;
			padding-left: 10px;
		}
		
		a{
			color: white;
			transition: 1s;

			&:hover{
				color: #0076DE;
				transition: 1s
			}
		}
	}
}

.navbarSecond{
	background-color: black;
	font-family: "Libre Franklin", sans-serif;
	font-size: 0.9375rem;
	letter-spacing: 0em;
	display: flex;
	justify-content: center;
	padding-bottom: 15px;

	.navLi{
		display: inline-block;
		padding: 9px;
		color: white;
		transition: 1s;

		&:hover > a{
			color: yellow;
			transition: 1s;
		}

		a{
			color: white;
			text-decoration: none;
		}

		i{
			width: 30px;
			text-align: center;
		}
	}
}

.navResponsive-ul{
	display: none;

	.navResponsive-button-container{
		position: absolute;
		width: 100%;
		font-size: 28px;
		margin-top: -64px;
		z-index: 100;
	}
	
	.navResponsive-button{
		color: white;
		padding: 6px 20px;
		text-align: center;
		width: 5%;

		&:hover{
			color: yellow;
		}
	}
}

@media (max-width: 1024px){
    .navLogo-texto{
		color: black;
		transition: 1s;
	}
}

@media (max-width: 870px){
    .navUl{
		display: none;
	}

	.navbarFirst{
		grid-template-columns: repeat(20, 1fr);

		.navLogo-texto{
			position: absolute;
			color: transparent;
			z-index: -10;
		}

		.navBuscar{
			grid-column: 3 / 18 !important;
		}
	
		.navIcono-comprar{
			grid-column: 18 / 20 !important;
		}
	}

	.navbarSecond{
		height: 37px;
		width: 100%;
	}

	.navResponsive-ul{
		display: block;
		position: absolute;
		width: 100%;
		height: 37px;
		margin-top: 37px;
		padding-top: 27px;
		text-align: center;

		&:hover > .navLi-container{
			top: -27px;
		}
	}

	.navLi-container{
		position: relative;
		top: -1000px;
		width: 100%;
		background: #696969;
		transition: all 1s;
		z-index: -1;
	}

	.navResponsive-li{
		width: 100%;
		padding: 9px 20px;

		i{
			width: 30px;
			text-align: center;
			color: white;
		}
	
		a{
			color: white;
			text-decoration: none;
			transition: 1s;
		}

		&:hover > a{
			color: yellow;
			transition: 1s;
		}
	}
}