.gridContainerNosotros{
    color: white;
    text-align: justify;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 83px;

    h2{
        margin: 40px 0;
        text-align: center;
    }
}

.nosotrosItem{
    display: flex;
}

.nosotrosText{
    width: 50%;
    padding: 30px;
}

.nosotrosImg{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    img{
        width: 90%;
        border-radius: 10px;
    }
}

@media (max-width: 770px){
    .gridContainerNosotros{
        padding-top: 123px;
    }
    
    .nosotrosItem{
        flex-direction: column;
        margin-bottom: 30px;
    }

    .nosotrosText, .nosotrosImg{width: 100%;}
}