.gridContainerNosotros{
    color: white;
    text-align: justify;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 180px;
    width: 85%;
    height: 100vh;
    background-image: url("https://i.ibb.co/MpfNVVw/imageonline-co-darkenimage.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
    margin: auto;
    box-shadow: 12px 0 15px -4px rgba(0, 0, 0, 0.9), -12px 0 8px -4px rgba(0, 0, 0, 0.9);

    & > div{
        padding: 0 20px;
    }
}

#nosotros{
    h2{
        margin-top: 20px;
        text-align: center;
    }

    .nosotrosItem{
        display: flex;
    }
    
    .nosotrosText{
        padding: 30px;
        width: 50%;
    }
    
    .nosotrosImg{
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    
        img{
            width: 90%;
            border-radius: 10px;
        }
    }
}

@media (max-width: 870px){
    #nosotros{
        font-size: 10px;
        
        h2{
            margin-top: 0;
        }

        .nosotrosItem{
            flex-direction: column;
            margin-bottom: 30px;
        }

        .nosotrosText, .nosotrosImg{width: 100%;}
    }
}