@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Itim&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Itim', cursive;
}

body {
  height: 100%;
  width: 100%;
  background: url("https://img.freepik.com/free-vector/music-instrument-doodle-seamless-pattern_6997-572.jpg?size=626&ext=jpg") repeat 0 0;
  -webkit-animation: bg-scrolling-reverse 10s infinite;
          animation: bg-scrolling-reverse 10s infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

@-webkit-keyframes bg-scrolling-reverse {
  100% {
    background-position: 626px 599px;
  }
}

@keyframes bg-scrolling-reverse {
  100% {
    background-position: 626px 599px;
  }
}

nav {
  position: fixed;
  width: 100%;
  z-index: 10;
}

.navbarFirst {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[10];
      grid-template-columns: repeat(10, 1fr);
  -ms-grid-rows: 90px;
      grid-template-rows: 90px;
  background: black;
  font-family: "Libre Franklin", sans-serif;
  font-size: 0.9375rem;
  letter-spacing: 0em;
  color: white;
}

.navbarFirst div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 100;
}

.navbarFirst .navLogo {
  font-family: 'Itim', cursive;
  font-size: 25px;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  padding-left: 15px;
}

.navbarFirst .navLogo img {
  width: 60px;
  margin: 0px 5px;
}

.navbarFirst .navBuscar {
  -ms-grid-column: 3;
  -ms-grid-column-span: 6;
  grid-column: 3 / 9;
  font-size: 20px;
}

.navbarFirst .navBuscar .navBuscar-barra {
  width: 80%;
}

.navbarFirst .navBuscar i {
  padding-left: 20px;
}

.navbarFirst .navBuscar .navBuscar-icono {
  width: 46px;
  height: 46px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  background-color: #0076DE;
}

.navbarFirst .navBuscar .navBuscar-icono i {
  padding: 0;
  margin: 0;
}

.navbarFirst .navBuscar input {
  width: 65%;
  height: 46px;
  padding-left: 20px;
  outline: none;
  border-bottom-left-radius: 8px;
  border-top-left-radius: 8px;
  border: 0px solid white;
}

.navbarFirst .navIcono-comprar {
  -ms-grid-column: 9;
  -ms-grid-column-span: 2;
  grid-column: 9 / 11;
}

.navbarFirst .navIcono-comprar i {
  font-size: 25px;
  padding-left: 10px;
}

.navbarFirst .navIcono-comprar a {
  color: white;
  -webkit-transition: 1s;
  transition: 1s;
}

.navbarFirst .navIcono-comprar a:hover {
  color: #0076DE;
  -webkit-transition: 1s;
  transition: 1s;
}

.navbarSecond {
  background-color: black;
  font-family: "Libre Franklin", sans-serif;
  font-size: 0.9375rem;
  letter-spacing: 0em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 15px;
}

.navbarSecond .navLi {
  display: inline-block;
  padding: 9px;
  color: white;
  -webkit-transition: 1s;
  transition: 1s;
}

.navbarSecond .navLi:hover > a {
  color: yellow;
  -webkit-transition: 1s;
  transition: 1s;
}

.navbarSecond .navLi a {
  color: white;
  text-decoration: none;
}

.navbarSecond .navLi i {
  width: 30px;
  text-align: center;
}

.navResponsive-ul {
  display: none;
}

.navResponsive-ul .navResponsive-button-container {
  position: absolute;
  width: 100%;
  font-size: 28px;
  margin-top: -64px;
  z-index: 100;
}

.navResponsive-ul .navResponsive-button {
  color: white;
  padding: 6px 20px;
  text-align: center;
  width: 5%;
}

.navResponsive-ul .navResponsive-button:hover {
  color: yellow;
}

@media (max-width: 1024px) {
  .navLogo-texto {
    color: black;
    -webkit-transition: 1s;
    transition: 1s;
  }
}

@media (max-width: 870px) {
  .navUl {
    display: none;
  }
  .navbarFirst {
    -ms-grid-columns: (1fr)[20];
        grid-template-columns: repeat(20, 1fr);
  }
  .navbarFirst .navLogo-texto {
    position: absolute;
    color: transparent;
    z-index: -10;
  }
  .navbarFirst .navBuscar {
    -ms-grid-column: 3 !important;
    -ms-grid-column-span: 15 !important;
    grid-column: 3 / 18 !important;
  }
  .navbarFirst .navIcono-comprar {
    -ms-grid-column: 18 !important;
    -ms-grid-column-span: 2 !important;
    grid-column: 18 / 20 !important;
  }
  .navbarSecond {
    height: 37px;
    width: 100%;
  }
  .navResponsive-ul {
    display: block;
    position: absolute;
    width: 100%;
    height: 37px;
    margin-top: 37px;
    padding-top: 27px;
    text-align: center;
  }
  .navResponsive-ul:hover > .navLi-container {
    top: -27px;
  }
  .navLi-container {
    position: relative;
    top: -1000px;
    width: 100%;
    background: #696969;
    -webkit-transition: all 1s;
    transition: all 1s;
    z-index: -1;
  }
  .navResponsive-li {
    width: 100%;
    padding: 9px 20px;
  }
  .navResponsive-li i {
    width: 30px;
    text-align: center;
    color: white;
  }
  .navResponsive-li a {
    color: white;
    text-decoration: none;
    -webkit-transition: 1s;
    transition: 1s;
  }
  .navResponsive-li:hover > a {
    color: yellow;
    -webkit-transition: 1s;
    transition: 1s;
  }
}

footer {
  width: 100%;
  background-color: black;
  padding-bottom: 20px;
  color: white;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer section {
  width: 13%;
  padding-top: 46px;
  padding-bottom: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-size: 30px;
}

footer section div {
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px 20px;
}

footer section div a {
  color: white;
  text-decoration: none;
}

footer section .fa-facebook {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

footer section .fa-facebook:hover {
  color: #036CE4;
}

footer section .fa-whatsapp {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

footer section .fa-whatsapp:hover {
  color: #0DC143;
}

footer section .fa-twitter {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

footer section .fa-twitter:hover {
  color: #1D9BF0;
}

footer section .fa-instagram {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

footer section .fa-instagram:hover {
  background: radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%), radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%), radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent), -webkit-gradient(linear, left top, left bottom, from(#6559ca), color-stop(30%, #bc318f), color-stop(50%, #e33f5f), color-stop(70%, #f77638), to(#fec66d));
  background: radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%), radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%), radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent), linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);
  color: transparent;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-background-clip: text;
}

footer div {
  margin-top: 20px;
  font-family: "Open Sans",sans-serif;
  font-weight: 400;
}

@media (max-width: 770px) {
  #footer {
    margin-top: 0;
  }
}

.gridContainer {
  width: 85%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (400px)[auto-fit];
      grid-template-rows: repeat(auto-fit, 400px);
  grid-gap: 30px;
  padding-top: 150px;
  background-image: url("https://i.ibb.co/MpfNVVw/imageonline-co-darkenimage.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  margin: auto;
  -webkit-box-shadow: 12px 0 15px -4px rgba(0, 0, 0, 0.9), -12px 0 8px -4px rgba(0, 0, 0, 0.9);
          box-shadow: 12px 0 15px -4px rgba(0, 0, 0, 0.9), -12px 0 8px -4px rgba(0, 0, 0, 0.9);
}

.gridContainer > div {
  padding: 0 20px;
}

#main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

#main .bannerSlogan {
  text-align: center;
  color: white;
  font-family: 'Itim', cursive;
  font-size: 35px;
  font-weight: bold;
}

#main .caracteristicasContainer {
  width: 100%;
  color: #0076DE;
  font-family: "Libre Franklin", sans-serif;
  font-size: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#main .caracteristicasContainer .caracteristicaItem {
  margin-top: 10px;
  text-align: center;
}

#main .caracteristicasContainer .caracteristica {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#main .caracteristicasContainer .caracteristica a {
  text-align: center;
  text-decoration: none;
  color: #0076DE;
}

#main .caracteristicasContainer .caracteristica a:hover {
  color: #155b97;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#main .caracteristicasContainer div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#main .caracteristicasContainer i {
  font-size: 25px;
}

#promociones h2, #promociones label {
  display: block;
  color: white;
  font-weight: bold;
  letter-spacing: 3px;
  text-align: center;
}

#promociones ul {
  padding: 10px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
  grid-gap: 10px;
  list-style: none;
}

#promociones .promocionesItem {
  margin: 30px 0;
}

#promociones img {
  width: 100%;
  border-radius: 8px;
}

#promociones .containerSlider {
  margin: 40px auto;
  position: relative;
  max-width: 1000px;
  width: 80%;
  border-radius: 8px;
  overflow: hidden;
  z-index: 1;
  border: 1px solid black;
}

#promociones .containerSlider .slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  -webkit-transition: all 600ms;
  transition: all 600ms;
  -webkit-animation-name: autoplay;
          animation-name: autoplay;
  -webkit-animation-duration: 18s;
          animation-duration: 18s;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

#promociones .containerSlider .slider .sliderItem {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  max-width: 100%;
}

@-webkit-keyframes autoplay {
  20% {
    -webkit-transform: translate3d(calc(-100% * 0), 0, 0);
            transform: translate3d(calc(-100% * 0), 0, 0);
  }
  40% {
    -webkit-transform: translate3d(calc(-100% * 1), 0, 0);
            transform: translate3d(calc(-100% * 1), 0, 0);
  }
  60% {
    -webkit-transform: translate3d(calc(-100% * 2), 0, 0);
            transform: translate3d(calc(-100% * 2), 0, 0);
  }
  80% {
    -webkit-transform: translate3d(calc(-100% * 3), 0, 0);
            transform: translate3d(calc(-100% * 3), 0, 0);
  }
  100% {
    -webkit-transform: translate3d(calc(-100% * 4), 0, 0);
            transform: translate3d(calc(-100% * 4), 0, 0);
  }
}

@keyframes autoplay {
  20% {
    -webkit-transform: translate3d(calc(-100% * 0), 0, 0);
            transform: translate3d(calc(-100% * 0), 0, 0);
  }
  40% {
    -webkit-transform: translate3d(calc(-100% * 1), 0, 0);
            transform: translate3d(calc(-100% * 1), 0, 0);
  }
  60% {
    -webkit-transform: translate3d(calc(-100% * 2), 0, 0);
            transform: translate3d(calc(-100% * 2), 0, 0);
  }
  80% {
    -webkit-transform: translate3d(calc(-100% * 3), 0, 0);
            transform: translate3d(calc(-100% * 3), 0, 0);
  }
  100% {
    -webkit-transform: translate3d(calc(-100% * 4), 0, 0);
            transform: translate3d(calc(-100% * 4), 0, 0);
  }
}

#marcas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
  color: white;
}

#marcas .marcasItem {
  padding: 10px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
  grid-gap: 10px;
}

#marcas .marcasItem img {
  width: 100%;
  border-radius: 8px;
}

#contacto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 30px;
  color: white;
}

#contacto .contactoItem {
  margin: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#contacto .contactanos {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#contacto .ubicacion {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#contacto .ubicacion iframe {
  width: 100%;
  max-height: 300px;
}

#contactoForm {
  width: 100%;
  margin-top: 15px;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (50px)[5];
      grid-template-rows: repeat(5, 50px);
}

#contactoForm input {
  color: white;
  outline: none;
  width: 80%;
  height: 20px;
  text-align: left;
  border-style: none;
  background-color: transparent;
  border-bottom: 2px solid white;
  padding: 12px;
}

#contactoForm input::-webkit-input-placeholder {
  color: white;
}

#contactoForm input:-ms-input-placeholder {
  color: white;
}

#contactoForm input::-ms-input-placeholder {
  color: white;
}

#contactoForm input::placeholder {
  color: white;
}

#contactoForm .formItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 5px 0;
}

#contactoForm button {
  color: white;
  cursor: pointer;
  font-weight: 600;
  padding: 5px;
  width: 150px;
  border: 2px solid white;
  border-radius: 3px;
  background: transparent;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#contactoForm button:hover {
  background-color: blue;
  border: 2px solid transparent;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

@media (max-width: 770px) {
  .gridContainer {
    width: 90%;
    padding-top: 123px;
  }
  #main {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding: 0 20px;
  }
  #main h2 {
    font-size: 20px;
  }
  #main p {
    font-size: 28px;
  }
  .caracteristicasContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .caracteristicasContainer i {
    font-size: 20px;
  }
  .caracteristicaItem {
    font-size: 17px;
    margin-top: 5px;
    margin-bottom: 20px;
  }
  #marcas .marcasItem {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: (1fr)[4];
        grid-template-rows: repeat(4, 1fr);
  }
  #contacto {
    padding: 0;
  }
  #contacto .contactoItem {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin: 0;
  }
  #contacto .contactanos, #contacto .ubicacion {
    width: 100%;
  }
  #contacto .ubicacion iframe {
    width: 100%;
    max-height: 200px;
  }
}

.gridContainerNosotros {
  color: white;
  text-align: justify;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 180px;
  width: 85%;
  height: 100vh;
  background-image: url("https://i.ibb.co/MpfNVVw/imageonline-co-darkenimage.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  margin: auto;
  -webkit-box-shadow: 12px 0 15px -4px rgba(0, 0, 0, 0.9), -12px 0 8px -4px rgba(0, 0, 0, 0.9);
          box-shadow: 12px 0 15px -4px rgba(0, 0, 0, 0.9), -12px 0 8px -4px rgba(0, 0, 0, 0.9);
}

.gridContainerNosotros > div {
  padding: 0 20px;
}

#nosotros h2 {
  margin-top: 20px;
  text-align: center;
}

#nosotros .nosotrosItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#nosotros .nosotrosText {
  padding: 30px;
  width: 50%;
}

#nosotros .nosotrosImg {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#nosotros .nosotrosImg img {
  width: 90%;
  border-radius: 10px;
}

@media (max-width: 870px) {
  #nosotros {
    font-size: 10px;
  }
  #nosotros h2 {
    margin-top: 0;
  }
  #nosotros .nosotrosItem {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 30px;
  }
  #nosotros .nosotrosText, #nosotros .nosotrosImg {
    width: 100%;
  }
}

.gridContainerGuitarras {
  color: white;
  text-align: justify;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 180px;
  width: 85%;
  background-image: url("https://i.ibb.co/MpfNVVw/imageonline-co-darkenimage.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  margin: auto;
  -webkit-box-shadow: 12px 0 15px -4px rgba(0, 0, 0, 0.9), -12px 0 8px -4px rgba(0, 0, 0, 0.9);
          box-shadow: 12px 0 15px -4px rgba(0, 0, 0, 0.9), -12px 0 8px -4px rgba(0, 0, 0, 0.9);
}

.gridContainerGuitarras > div {
  padding: 0 20px;
}

#guitarras {
  margin: auto;
}

#guitarras h2 {
  text-align: center;
  margin: 40px 0;
}

#guitarras .guitarrasItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#guitarras .guitarrasItem .guitarrasText {
  width: 100%;
  padding: 30px;
}

#guitarras .guitarrasItem .guitarrasImg {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#guitarras .guitarrasItem .guitarrasImg img {
  width: 60%;
  border-radius: 10px;
  margin: 25px;
  opacity: 0.8;
  border: 10px solid #eee;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(0.7, transparent), to(rgba(0, 0, 0, 0.1)));
}

#guitarras .guitarrasItem .guitarrasImg img:hover {
  opacity: 1;
  -webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(0.7, transparent), to(rgba(0, 0, 0, 0.4)));
  -webkit-box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.8);
  box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.8);
}

#guitarras .catalogoGuitarras h3 {
  text-align: center;
  margin-top: 10px;
  font-size: 15px;
}

.catalogo1 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: (1fr)[3];
      grid-template-rows: repeat(3, 1fr);
  grid-gap: 20px;
  padding: 20px;
}

.catalogoGuitarras h2 {
  margin-top: 80px;
  text-align: center;
}

.catalogoItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.catalogoItem img {
  width: 100%;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  border-radius: 10px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.catalogoItem img:hover {
  -webkit-filter: none;
          filter: none;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

@media (max-width: 870px) {
  .gridContainerGuitarras {
    padding-top: 123px;
  }
  .guitarrasItem {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 30px;
  }
  .guitarrasImg {
    width: 100%;
  }
  .catalogo1 {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    font-size: 10px;
    text-align: start;
  }
}

.gridContainerPianos {
  color: white;
  text-align: justify;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 180px;
  width: 85%;
  background-image: url("https://i.ibb.co/MpfNVVw/imageonline-co-darkenimage.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  margin: auto;
  -webkit-box-shadow: 12px 0 15px -4px rgba(0, 0, 0, 0.9), -12px 0 8px -4px rgba(0, 0, 0, 0.9);
          box-shadow: 12px 0 15px -4px rgba(0, 0, 0, 0.9), -12px 0 8px -4px rgba(0, 0, 0, 0.9);
}

.gridContainerPianos > div {
  padding: 0 20px;
}

#pianos {
  margin: auto;
}

#pianos h2 {
  text-align: center;
  margin: 40px 0;
}

#pianos .pianosItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#pianos .pianosItem .pianosText {
  width: 100%;
  padding: 30px;
}

#pianos .pianosItem .pianosImg {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#pianos .pianosItem .pianosImg img {
  width: 60%;
  border-radius: 10px;
  margin: 25px;
  opacity: 0.8;
  border: 10px solid #eee;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(0.7, transparent), to(rgba(0, 0, 0, 0.1)));
}

#pianos .pianosItem .pianosImg img:hover {
  opacity: 1;
  -webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(0.7, transparent), to(rgba(0, 0, 0, 0.4)));
  -webkit-box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.8);
  box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.8);
}

#pianos .catalogoPianos h3 {
  text-align: center;
  margin-top: 10px;
  font-size: 15px;
}

.catalogo2 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
  grid-gap: 20px;
  padding: 20px;
}

.catalogoPianos h2 {
  margin-top: 80px;
  text-align: center;
}

.catalogoItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.catalogoItem img {
  width: 100%;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  border-radius: 10px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.catalogoItem img:hover {
  -webkit-filter: none;
          filter: none;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

@media (max-width: 870px) {
  .gridContainerPianos {
    padding-top: 123px;
  }
  .pianosItem {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 30px;
  }
  .pianosImg {
    width: 100%;
  }
  .catalogo2 {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    font-size: 10px;
    text-align: start;
  }
}

.gridContainerBaterias {
  color: white;
  text-align: justify;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 180px;
  width: 85%;
  background-image: url("https://i.ibb.co/MpfNVVw/imageonline-co-darkenimage.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  margin: auto;
  -webkit-box-shadow: 12px 0 15px -4px rgba(0, 0, 0, 0.9), -12px 0 8px -4px rgba(0, 0, 0, 0.9);
          box-shadow: 12px 0 15px -4px rgba(0, 0, 0, 0.9), -12px 0 8px -4px rgba(0, 0, 0, 0.9);
}

.gridContainerBaterias > div {
  padding: 0 20px;
}

#baterias {
  margin: auto;
}

#baterias h2 {
  text-align: center;
  margin: 40px 0;
}

#baterias .bateriasItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#baterias .bateriasItem .bateriasText {
  width: 100%;
  padding: 30px;
}

#baterias .bateriasItem .bateriasImg {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#baterias .bateriasItem .bateriasImg img {
  width: 60%;
  border-radius: 10px;
  margin: 25px;
  opacity: 0.8;
  border: 10px solid #eee;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(0.7, transparent), to(rgba(0, 0, 0, 0.1)));
}

#baterias .bateriasItem .bateriasImg img:hover {
  opacity: 1;
  -webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(0.7, transparent), to(rgba(0, 0, 0, 0.4)));
  -webkit-box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.8);
  box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.8);
}

#baterias .catalogoBaterias h3 {
  text-align: center;
  margin-top: 10px;
  font-size: 15px;
}

.catalogo3 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
  grid-gap: 20px;
  padding: 20px;
}

.catalogoBaterias h2 {
  margin-top: 80px;
  text-align: center;
}

.catalogoItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.catalogoItem img {
  width: 100%;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  border-radius: 10px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.catalogoItem img:hover {
  -webkit-filter: none;
          filter: none;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

@media (max-width: 870px) {
  .gridContainerBaterias {
    padding-top: 123px;
  }
  .bateriasItem {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 30px;
  }
  .bateriasImg {
    width: 100%;
  }
  .catalogo3 {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    font-size: 10px;
    text-align: start;
  }
}
/*# sourceMappingURL=styleNuevo.css.map */