@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Itim&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Itim', cursive;
}

body {
  height: 100%;
  width: 100%;
  background: url("https://img.freepik.com/free-vector/music-instrument-doodle-seamless-pattern_6997-572.jpg?size=626&ext=jpg") repeat 0 0;
  -webkit-animation: bg-scrolling-reverse 10s infinite;
          animation: bg-scrolling-reverse 10s infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

@-webkit-keyframes bg-scrolling-reverse {
  100% {
    background-position: 626px 599px;
  }
}

@keyframes bg-scrolling-reverse {
  100% {
    background-position: 626px 599px;
  }
}

nav {
  width: 100%;
  height: 83px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: fixed;
  z-index: 10;
}

nav > div {
  background-color: black;
  height: 40px;
}

nav .navbarFirst {
  font-family: 'Itim', cursive;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav .navbarFirst > div {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .navbarFirst > div a {
  display: inline-block;
  height: 80%;
}

nav .navbarFirst > div img {
  height: 100%;
}

nav .navbarSecond {
  font-family: "Libre Franklin", sans-serif;
  padding: 10px 50px;
}

nav .navbarSecond ul {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  text-align: center;
}

nav .navbarSecond ul a {
  text-decoration: none;
  color: white;
  -webkit-transition: 1s;
  transition: 1s;
}

nav .navbarSecond ul a:hover {
  color: yellow;
  -webkit-transition: 1s;
  transition: 1s;
}

footer {
  width: 100%;
  background-color: black;
  padding-bottom: 170px;
  color: white;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer section {
  width: 13%;
  padding-top: 46px;
  padding-bottom: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

footer section span {
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px 20px;
}

footer section span a {
  color: white;
  text-decoration: none;
}

footer section span a:hover {
  color: #E9C132;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

footer div {
  margin-top: 20px;
  font-family: "Open Sans",sans-serif;
  font-weight: 400;
}

@media (max-width: 770px) {
  #footer {
    margin-top: 0;
  }
}

.gridContainer {
  width: 85%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (400px)[auto-fit];
      grid-template-rows: repeat(auto-fit, 400px);
  padding-top: 83px;
  background-image: url("https://i.ibb.co/MpfNVVw/imageonline-co-darkenimage.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  margin: auto;
  -webkit-box-shadow: 12px 0 15px -4px rgba(0, 0, 0, 0.9), -12px 0 8px -4px rgba(0, 0, 0, 0.9);
          box-shadow: 12px 0 15px -4px rgba(0, 0, 0, 0.9), -12px 0 8px -4px rgba(0, 0, 0, 0.9);
}

#main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

#main .bannerSlogan {
  text-align: center;
  color: white;
  font-family: 'Itim', cursive;
  font-size: 35px;
  font-weight: bold;
}

#main .caracteristicasContainer {
  width: 100%;
  color: #0076DE;
  font-family: "Libre Franklin", sans-serif;
  font-size: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#main .caracteristicasContainer div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#promociones h2, #promociones label {
  display: block;
  color: white;
  font-weight: bold;
  letter-spacing: 3px;
  text-align: center;
}

#promociones ul {
  padding: 10px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
  grid-gap: 10px;
  list-style: none;
}

#promociones .promocionesItem {
  margin: 30px 0;
}

#promociones img {
  width: 100%;
  border-radius: 8px;
}

#promociones .containerSlider {
  margin: 40px auto;
  position: relative;
  max-width: 1000px;
  width: 80%;
  border-radius: 8px;
  overflow: hidden;
  z-index: 1;
  border: 1px solid black;
}

#promociones .containerSlider .slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  -webkit-transition: all 600ms;
  transition: all 600ms;
  -webkit-animation-name: autoplay;
          animation-name: autoplay;
  -webkit-animation-duration: 18s;
          animation-duration: 18s;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

#promociones .containerSlider .slider .sliderItem {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  max-width: 100%;
}

@-webkit-keyframes autoplay {
  20% {
    -webkit-transform: translate3d(calc(-100% * 0), 0, 0);
            transform: translate3d(calc(-100% * 0), 0, 0);
  }
  40% {
    -webkit-transform: translate3d(calc(-100% * 1), 0, 0);
            transform: translate3d(calc(-100% * 1), 0, 0);
  }
  60% {
    -webkit-transform: translate3d(calc(-100% * 2), 0, 0);
            transform: translate3d(calc(-100% * 2), 0, 0);
  }
  80% {
    -webkit-transform: translate3d(calc(-100% * 3), 0, 0);
            transform: translate3d(calc(-100% * 3), 0, 0);
  }
  100% {
    -webkit-transform: translate3d(calc(-100% * 4), 0, 0);
            transform: translate3d(calc(-100% * 4), 0, 0);
  }
}

@keyframes autoplay {
  20% {
    -webkit-transform: translate3d(calc(-100% * 0), 0, 0);
            transform: translate3d(calc(-100% * 0), 0, 0);
  }
  40% {
    -webkit-transform: translate3d(calc(-100% * 1), 0, 0);
            transform: translate3d(calc(-100% * 1), 0, 0);
  }
  60% {
    -webkit-transform: translate3d(calc(-100% * 2), 0, 0);
            transform: translate3d(calc(-100% * 2), 0, 0);
  }
  80% {
    -webkit-transform: translate3d(calc(-100% * 3), 0, 0);
            transform: translate3d(calc(-100% * 3), 0, 0);
  }
  100% {
    -webkit-transform: translate3d(calc(-100% * 4), 0, 0);
            transform: translate3d(calc(-100% * 4), 0, 0);
  }
}

#marcas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
  color: white;
}

#marcas .marcasItem {
  padding: 10px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: (1fr)[3];
      grid-template-rows: repeat(3, 1fr);
  grid-gap: 10px;
}

#marcas .marcasItem img {
  width: 100%;
  border-radius: 8px;
}

#contacto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 30px;
  color: white;
}

#contacto .contactoItem {
  margin: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#contacto .contactanos {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#contacto .ubicacion {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#contacto .ubicacion iframe {
  width: 100%;
}

#contactoForm {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (50px)[5];
      grid-template-rows: repeat(5, 50px);
}

#contactoForm input {
  width: 70%;
  height: 20px;
  text-align: center;
  border-style: none;
  background-color: white;
}

#contactoForm .formItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 5px 0;
}

@media (max-width: 770px) {
  .girdContainer {
    padding-top: 123px;
  }
  #main {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .caracteristicasContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .caracteristicaItem {
    margin: 20px 0;
  }
  #contacto {
    padding: 0;
  }
  #contacto .contactoItem {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0;
  }
  #contacto .contactanos, #contacto .ubicacion {
    width: 100%;
  }
  #contacto .ubicacion iframe {
    width: 100%;
    max-height: 200px;
  }
}

.gridContainerNosotros {
  color: white;
  text-align: justify;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 83px;
}

.gridContainerNosotros h2 {
  margin: 40px 0;
  text-align: center;
}

.nosotrosItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nosotrosText {
  width: 50%;
  padding: 30px;
}

.nosotrosImg {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.nosotrosImg img {
  width: 90%;
  border-radius: 10px;
}

@media (max-width: 770px) {
  .gridContainer {
    padding-top: 123px;
  }
  .navbarSecond {
    height: 80px;
  }
  .navbarSecond ul {
    -ms-grid-columns: (1fr)[2] !important;
        grid-template-columns: repeat(2, 1fr) !important;
    -ms-grid-rows: 40px 40px;
        grid-template-rows: 40px 40px;
  }
  .navbarSecond a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .gridContainerNosotros {
    padding-top: 123px;
  }
  .nosotrosItem {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 30px;
  }
  .nosotrosText, .nosotrosImg {
    width: 100%;
  }
}
/*# sourceMappingURL=styleNuevo.css.map */