@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');
@import "variables";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Itim', cursive;
}

body{
	height: 100%;
	width: 100%;
	background: url("https://img.freepik.com/free-vector/music-instrument-doodle-seamless-pattern_6997-572.jpg?size=626&ext=jpg") repeat 0 0;
	animation: bg-scrolling-reverse 10s infinite;
	animation-timing-function: linear;
}

@keyframes bg-scrolling-reverse {
	100% {
		background-position: 626px 599px;
	}
}

@import "navbar";
@import "footer";
@import "main";
@import "nosotros";
@import "contactanos";
@import "catalogo";
@import "promociones";
@import "tools";